.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.env
/k8s/vault/cluster-keys.json
/k8s/vault/helm-vault-raft-values.yml